body {
  margin: 0;
}

html {
  /* background: linear-gradient(#682f79, #ffffff); */
  background-color: #92278f;
}

.big {
  font-family: 'Niconne', cursive;
}

.small {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: #fffbcc;
}
