html {
  background-color: #bd56a0;
}

.big {
  font-family: Niconne, cursive;
  color: #fff;
}

.small {
  font-family: "Roboto Condensed", sans-serif;
  color: #fffbcc;
}

h1 {
    font-family: "Roboto Condensed", sans-serif;
}
